<!-- Course name: Web Application Development
Course code:COMP229-008
Assignment: Group Project
Group: 8
Team: STIIMD
Student ID: 301283465, 301246562
Student Name: Melissa Jane Dennis, Sing Cheung Tin
Date:   Jul 12, 2023 -->

<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
            <form class="form" method="post">
              <div class="form-group">
                <label for="BrandTextField">Brand</label>
                <input type="text" class="form-control" id="BrandTextField"
                placeholder="Product Brand" name="brand" value="<%= products.Brand %>" required>
              </div>
              <div class="form-group">
                <label for="ModelTextField">Model</label>
                <input type="text" class="form-control" id="ModelTextField"
                placeholder="Product Model" name="model" value="<%= products.Model %>"  required>
              </div>
              <div class="form-group">
                <label for="SpecTextField">Specifications</label>
                <input type="text" class="form-control" id="SpecTextField"
                placeholder="Product table-striped" name="specifications" value="<%= products.Specifications %>"  required>
              </div>
              <div class="form-group">
                <label for="PriceTextField">Price</label>
                <input type="text" class="form-control" id="PriceTextField"
                placeholder="Product Price" name="price" value="<%= products.Price %>"  required>
              </div>
              <div class="form-group">
                <label for="QtyTextField">Quantity</label>
                <input type="text" class="form-control" id="QtyTextField"
                placeholder="Quantity" name="quantity" value="<%= products.Quantity %>"  required>
              </div>
              <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Submit</button>
              <a href="/products" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
            </form>
        </div>
      </div>
    </div>


<% include ../partials/footer.ejs %>
