<% include ../partials/header.ejs %>

    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <h3>Product Inventory System</h3>
          <a href="/products/add" class="btn btn-primary"><i class="fa fa-plus"></i> Add a product</a>
          <br>
          <form method="post"></form>
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th>Brand</th>
                  <th class="text-center">Model</th>
                  <th class="text-center">Specifications</th>
                  <th class="text-center">Price</th>
                  <th class="text-center">Quantity</th>
                  <th class="text-center">Edit</th>
                  <th class="text-center">Delete</th>
                </tr>
                </thead>
                <tbody>
                <% for (let count = 0; count < products.length; count++) { %>
                <tr>
                  <td><%= products[count].Brand %></td>
                  <td class="text-center"><%= products[count].Model %></td>
                  <td class="text-center"><%= products[count].Specifications %></td>
                  <td class="text-center"><%= products[count].Price %></td>
                  <td class="text-center"><%= products[count].Quantity %></td>

                  <td class="text-center">
                    <a href="/products/<%= products[count]._id %>" class="btn btn-primary btn-sm">
                      <i class="fa fa-pencil-square-o"></i> Edit
                    </a>
                  </td>

                  <td class="text-center">
                    <a href="/products/delete/<%= products[count]._id %>" class="btn btn-danger btn-sm" >
                      <i class="fa fa-minus"></i> Delete</a>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <div>
            <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i>Submit</button>
            <a href="/" class="btn btn-warning"><i class="fa fa-undo"></i>Logout</a>
          </div>
        </form>
           <div class="col-md-offset-1 col-md-10 text-center">
            <ul class="pagination pagination-lg pager" id="myPager"></ul>
          </div>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>