
<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <h3>Products </h3>
          <!-- <a href="/products/add" class="btn btn-primary"><i class="fa fa-plus"></i> Add a product</a> -->
          <br>
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th>Brand</th>
                  <th class="text-center">Model</th>
                  <th class="text-center">Specifications</th>
                  <th class="text-center">Price</th>
                  <th class="text-center">Add to Cart</th>
                </tr>
                </thead>
                <tbody>
                <% for (let count = 0; count < products.length; count++) { %>
                <tr>
                  <td><%= products[count].Brand %></td>
                  <td class="text-center"><%= products[count].Model %></td>
                  <td class="text-center"><%= products[count].Specifications %></td>
                  <td class="text-center"><%= products[count].Price %></td>
                  <td class="text-center">
                    <input type="checkbox" id="addToCart_<%= count %>" value="<%= products[count]._id %>">
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <div>
            <!-- <button type="submit" class="btn btn-primary">Add to My Products</button> -->
            <a href="/products" class="btn btn-primary"><i class="fa fa-plus"></i>Add to My Products</a>
          </div>
           <div class="col-md-offset-1 col-md-10 text-center">
            <ul class="pagination pagination-lg pager" id="myPager"></ul>
          </div>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


